form{
    text-align: center;

}
mat-card-title{
    font-size:100px;
}

h1{
    font-size: 30px;
}
input{
    size:40px;
}
.icon{
    font-size:60px;
}
    mat-form-field{
        font-size:20px;
        color:black;
    }
    mat-form-actions{
        font-size:20px;
    } mat-label input{
        color:black;
    }