<form [formGroup]="forgetPasswordForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row align-items-center">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Email:</mat-label>
            <input
              matInput
              placeholder="Email address"
              formControlName="email"
            />
            <mat-error
              *ngIf="forgetPasswordForm.controls['email'].hasError('required')"
            >
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </div>
  </div>
  <div class="row"></div>
</form>
