<form [formGroup]="forgetPasswordForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="container">
      <div class="justify-content-between d-flex">
        <button mat-button type="button" class="more-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1><strong>Forget Password</strong></h1>
        <mat-icon>arrow_forward</mat-icon>
      </div>
      <hr />
      <div class="row align-items-center">
        
        <div class="col-sm-4">
          
          <div class="row align-items-center">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Email:</mat-label>
                <input
                  matInput
                  placeholder="Email address"
                  formControlName="email"
                />
                <mat-error
                  *ngIf="forgetPasswordForm.controls['email'].hasError('required')"
                >
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
         
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
              Submit
            </button>
          </mat-card-actions>
        </div>

        <div class="col-sm-8">
          <div class="container">
            <img mat-card-image class="rounded" src="../../../assets/forget.jpg" />
          </div>
        </div>
        
      </div>
      <div class="row"></div>
    </mat-card>
  </form>
  