<p>add-training works!</p>



<form [formGroup]="TrainingForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="container col-sm-6 mt-2 mb-2">
      <div class="justify-content-between d-flex">
        <mat-card-title>{{ title }}</mat-card-title>
      </div>
      <hr />
      <mat-card-content>
        <mat-form-field>
          <mat-label>Job Title</mat-label>
          <mat-select matNativeControl formControlName="TrainingName">
            <mat-option *ngFor="let i of TrainingName" value="{{ i }}">
              {{ i }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="TrainingForm.controls['TrainingName'].hasError('required')"
          >
          TrainingName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Trainer</mat-label>
  
          <input
            matInput
            placeholder="Trainer"
            formControlName="Trainer"
          />
          <mat-error
            *ngIf="TrainingForm.controls['Trainer'].hasError('required')"
          >
          Trainer is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
  
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Description"
            formControlName="Description"
          ></textarea>
          <mat-error
            *ngIf="
              TrainingForm.controls['Description'].hasError('required')
            "
          >
            Job Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <br />
        
        <br />
        <!-- </mat-form-field> -->
        <button mat-raised-button color="primary" type="submit">Add</button>
      </mat-card-actions>
    </mat-card>
    <br />
    <br />
  </form>
  