mat-card {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    margin-top: 20px;
  }
  mat-card-content {
    flex: 1 1 auto;
    overflow: auto;
  }
.avtar{
    max-width: 10% !important;
    margin-left: 2% !important;
    border-radius: 5px;
}
.vl{
    border-left: 1px solid rgb(123, 128, 123);
  height: 50px;
}
.dash{
    text-align: center;
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.dash-1{
    text-align: center;
    margin-top: 2px;
    color: #777;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: uppercase;
}
.name{
    font-family: 'CircularStd', sans-serif;
    font: 1.5rem CircularStd;
    color: #1f1f1f;
    overflow-x: hidden;
    margin: 0px 0px 8px;
    font-weight: 500;
    line-height: 1.2
}
a{
    color:#777;
}
mat-icon{
    size:18px;
}