<mat-card style="background-color:transparent">
    <mat-card-title>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
            (click) = "addTraining()">
            <mat-icon>add</mat-icon>
            <p style="display: inline;">Training</p></button>
        </mat-card-actions>
    </mat-card-title>
</mat-card>
<mat-card class="col-md-6 col-sm-6 container uk-display-inline-block"
*ngFor = "let i of trainings"
>
    <div class="row">
      <img src="../../../assets/profile.jpg" class="rounded avtar" alt="" />
      <div class="float-left ml-2 h1">
        <mat-card-title>{{i.TrainingName}}</mat-card-title><br>
        <mat-card-subtitle><strong>Trainer: </strong> {{i.Trainer}}</mat-card-subtitle><br>
        <mat-card-content><strong>Description:</strong> <br> {{i.Description}}</mat-card-content>
      </div>
    </div>
    <hr>
    <mat-card-actions>
        <br />
        
        <br />
        <!-- </mat-form-field> -->
        <button mat-raised-button color="primary" type="submit"
        (click) = "apply()">Apply</button>
       
      </mat-card-actions>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Reviews
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-training-feedback [count]=i.Id></app-training-feedback>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
      </mat-accordion>
  </mat-card>
 