<mat-toolbar-row class="page-header justify-content-between">
  <h1 class="p-3">Profile</h1>
  <div class="row align-items-center">
    <div class="col col-md-8">
      <div class="col col-md-4">
        <mat-list-item>
          <li>
            <a routerLink="/home"><span class="material-icons">home </span></a>
          </li></mat-list-item
        >
        <mat-list-item>
          <li>
            <a routerLink="/emp/profile"><h3>&gt; Profile</h3></a>
          </li></mat-list-item
        >
      </div>
    </div>
  </div>
</mat-toolbar-row>
<app-employee-profile></app-employee-profile>
