<form [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card-content class="dashboard-card-content">
    <mat-label class="col alert alert-success center" *ngIf="this.message">{{
      this.message.message
    }}</mat-label>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="username" formControlName="username" />
          <mat-error
            *ngIf="signupForm.controls['username'].hasError('required')"
          >
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="vl"></div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="signupForm.controls['email'].hasError('email')">
            Invalid Email
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error
            *ngIf="signupForm.controls['password'].hasError('required')"
          >
            Password is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="signupForm.controls['password'].hasError('minlength')"
          >
            Must be at least 6 chars
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error
            *ngIf="signupForm.controls['confirmPassword'].hasError('required')"
          >
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="signupForm.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Role" formControlName="roles">
            <mat-option *ngFor="let role of roles" [value]="role.abbreviation">
              {{ role.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="signupForm.controls['roles'].hasError('required')">
            role is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">SignUp</button>
  </mat-card-actions>

  <br />
  <br />
  <strong
    >Already have an account? <a routerLink="/auth/signup">SignIn</a></strong
  >
</form>
