<form [formGroup]="resetForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="container">
      <div class="justify-content-between d-flex">
        <button mat-button type="button" class="more-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1><strong>Reset Password</strong></h1>
        <mat-icon>arrow_forward</mat-icon>
      </div>
      <hr />
      <div class="parent">
      <div class="row align-items-center">
        
        <div class="col-sm-4">
          
          
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" />
            <mat-error
              *ngIf="resetForm.controls['password'].hasError('required')"
            >
              Password <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Confirm Password" formControlName="cnfpassword" />
            <mat-error
              *ngIf="resetForm.controls['cnfpassword'].hasError('required')"
            >
              Confirm Password <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
              Submit
            </button>
          </mat-card-actions>
        </div>
      </div>
      </div>
      <div class="row"></div>
    </mat-card>
  </form>
  