form{
    text-align: center;
}
mat-card-title{
    font-size:40px;
}
h1{
    font-size: 30px;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
:host{
    .mat-card{
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .mat-form-field{
        font-size:20px;
        
    }
    .mat-form-actions{
        font-size:20px;
    }
}
