mat-card{
    margin-top: 20px;
}
.avtar{
    max-width: 10% !important;
    margin-left: 2% !important;
    border-radius: 5px;
}
.vl{
    border-left: 1px solid rgb(123, 128, 123);
  height: 100px;
}
.num{
    text-align: center;
}
.num-1{
    text-align: center;
    margin-top: 2px;
}