<mat-card class="col-sm-11 col-md-11 container uk-display-inline-block">
  <div class="row">
    <img src="../../../assets/profile.jpg" class="rounded avtar" alt="" />
    <div class="float-left ml-2 h1">
      <mat-card-title>Welcome, Pawan</mat-card-title>
      <mat-card-subtitle>joining Date</mat-card-subtitle>
    </div>
  </div>
</mat-card>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <mat-card>
        <mat-card-title class="justify-content-between"
          >Details
          <mat-icon>edit</mat-icon>
        </mat-card-title>
        <mat-card-content>
          <mat-card-subtitle>Contact Info</mat-card-subtitle>
        </mat-card-content>
        <mat-card-content>
          <mat-card-subtitle>General Info</mat-card-subtitle>
        </mat-card-content>
        <mat-card-content>
          <mat-card-subtitle>Additional Info</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 col-sm-6">
      <mat-card>
        <mat-card-title>Projects </mat-card-title>
        <div class="row">
          <mat-card-content class="col-sm-6"
            ><h1 class="num">71</h1>
            <h2 class="num">Total tasks</h2></mat-card-content
          >
          <div class="vl"></div>
          <mat-card-content class="col-sm-5"
            ><h1 class="num">14</h1>
            <h2 class="num">Pending tasks</h2></mat-card-content
          >
        </div>
        <div class="col">
          <h1 class="num-1">2</h1>
          <h1 class="num-1">Total Projects</h1>
        </div>
      </mat-card>
      <mat-card>
        <mat-card-title>Leave </mat-card-title>
        <div class="row">
          <mat-card-content class="col-sm-6">
            <h1 class="num">4.5</h1>
            <h2 class="num">Leave Taken</h2></mat-card-content
          >
          <div class="vl"></div>
          <mat-card-content class="col-sm-5"
            ><h1 class="num">12</h1>
            <h2 class="num">Remaining</h2></mat-card-content
          >
        </div>
        <div class="col num-1">
          <button mat-raised-button>Apply Leave</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <mat-card>
        <mat-card-title>Time Allowance </mat-card-title>
        <div class="row">
          <mat-card-content class="col-sm-6">
            <h1 class="num">4.5</h1>
            <h2 class="num">Leave Taken</h2></mat-card-content
          >
          <div class="vl"></div>
          <mat-card-content class="col-sm-5"
            ><h1 class="num">12</h1>
            <h2 class="num">Remaining</h2></mat-card-content
          >
        </div>
        <div class="row container num-1">
          <button mat-raised-button>Apply Time Off</button>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6 col-sm-6">
      <mat-card>
        <mat-card-title>Upcoming Holiday </mat-card-title>
        <div class="row">
          <mat-card-content class="col-sm-6">
            <h1 class="num">4.5</h1>
            <h2 class="num">Leave Taken</h2></mat-card-content
          >
          <div class="vl"></div>
          <mat-card-content class="col-sm-5"
            ><h1 class="num">12</h1>
            <h2 class="num">Remaining</h2></mat-card-content
          >
        </div>
        <div class="col num-1">
          <button mat-raised-button>Company Calander</button>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button (click)="picker.open()">Open</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <mat-card class="">
      <mat-card-title>Today Programs</mat-card-title>
    </mat-card>
  </div>
</div>
