<form [formGroup]="searchEmployeeForm">
  <br>
  <br>
  <mat-card class="container col-sm-6 mt-2 mb-2">
    <div class="justify-content-between d-flex">
      <mat-card-title>{{ title }}</mat-card-title>
    </div>
    <hr />

    <mat-card-content class="dashboard-card-content">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="search" formControlName="search" />
          </mat-form-field>
          <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onSubmit()"
        >
          search
        </button>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>

    <button
      mat-icon-button
      style="color: blue; align-items: flex-end"
      data-toggle="tooltip"
      data-placement="left"
      title="Add Employee"
      (click)="addEmployee()"
      
    >
      <mat-icon>add</mat-icon>
    </button> <p>Add Employee</p>
    </mat-card-actions>
    <!-- <button mat-icon-button style="color: blue; align-content: flex-end;">
        <mat-icon>Upload</mat-icon><p>Upload Employee</p>
      </button> -->
  </mat-card>
</form>

<!-- table to show employee details -->
<hr />
<app-show-employees></app-show-employees>
