<h1 style="text-align: center">Employee Details</h1>

<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field> -->

<mat-table
  *ngIf="dataSource"
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8"
>
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>
      {{ column | uppercase }}
    </mat-header-cell>
    <mat-cell *matCellDef="let object" (click)="EmployeeDetails(object)">
      {{ object[column] | uppercase }}
      <mat-icon *ngIf="column == 'Edit'" (click)="editEmployee(object)"
        >edit</mat-icon
      >
      <!-- <a
        [routerLink]="'/menuMaster/emplMaster/empDetails/' + this.id"
        class="mat-row-link"
      >
        {{ object[column] | uppercase }}</a
      > -->
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <!-- Row shown when there is no matching data. -->
  <!-- <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr> -->
</mat-table>
