<div class="grid-container">
  <h1 class="text-center h1">HR Roles</h1>

  <div class="col col-sm-12 center">
    <img
      src="../../../assets/forget.jpg"
      class="img-fluid"
      alt="Responsive image"
    />
  </div>
  <br />
  <div class="col col-sm-12">
    <div class="container-fluid border-black">
      <div class="row card-group">
        <div
          [ngClass]="!deviceXs ? 'col-3' : 'col-4'"
          *ngFor="let role of roles"
        >
          <div class="card p-shadow-24">
            <div class="card-block" (click)="navigation(role)">
              <span class="material-icons">
                {{ role["iconName"] }}
              </span>
              <h4 class="card-title">{{ role["title"] }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
