<div class="row">
  <div class="col center">
    <img
      style="
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
      "
      src="../../../assets/logo.png"
      alt="HRM"
    />
  </div>
</div>
<mat-card class="container col-sm-6 mt-2 mb-2">
  <div class="title">
    <button mat-button type="button" style="text-align: left"></button>
    <h1 style="text-align: center; font-size: 40px">
      {{ title }}
    </h1>
  </div>
  <hr />
  <router-outlet></router-outlet>
</mat-card>
