<div class="row">
  <div class="col center">
    <img
      style="
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
      "
      src="../../../assets/logo.png"
      alt="HRM"
    />
  </div>
</div>
<mat-card class="container col-sm-6 mt-2 mb-2">
  <div class="justify-content-between d-flex">
    <button mat-button type="button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-icon>arrow_forward</mat-icon>
  </div>
  <hr />
  <router-outlet></router-outlet>
</mat-card>
