<br />
<br />

<form [formGroup]="AddEmployeeForm">
  <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="AddEmployeeForm">
      <!-- <form [formGroup]="AddEmployeeForm"> -->
      <ng-template matStepLabel>Basic Information</ng-template>

      <mat-form-field>
        <mat-label>Employee name</mat-label>
        <input matInput formControlName="EmployeeName" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['EmployeeName'].hasError('required')"
            >
              *EmployeeName is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['Email'].hasError('required')"
            >
              *Email is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="AddEmployeeForm.controls['Email'].hasError('email')"
            >
            Email format not proper
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Company</mat-label>
        <!-- <input matInput> -->
        <mat-select matNativeControl formControlName="Company">
          <mat-option *ngFor="let i of companies" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['Company'].hasError('required')"
            >
              *Company is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Department</mat-label>
        <!-- <input matInput> -->
        <mat-select matNativeControl formControlName="Department">
          <mat-option *ngFor="let i of departments" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['Department'].hasError('required')"
            >
              *Department is <strong>required</strong>
            </mat-error>
            
      </mat-form-field>

      <mat-form-field>
        <mat-label>Designation</mat-label>
        <!-- <input matInput> -->
        <mat-select matNativeControl formControlName="Designation">
          <mat-option *ngFor="let i of designation" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['Email'].hasError('required')"
            >
              *Email is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Reporting To</mat-label>
        <mat-select matNativeControl formControlName="ReportingTo">
          <mat-option *ngFor="let i of reportedTo" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['ReportingTo'].hasError('required')"
            >
              *ReportingTo Field is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Work Type</mat-label>
        <mat-select matNativeControl formControlName="WorkType">
          <mat-option *ngFor="let i of workTypes" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['WorkType'].hasError('required')"
            >
              *WorkType is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>DOB</mat-label>
        <input
          matInput
          [matDatepicker]="DOB"
          (focus)="DOB.open()"
          formControlName="DOB"
        />
        <mat-icon>date_range</mat-icon>
        <mat-error
              *ngIf="AddEmployeeForm.controls['DOB'].hasError('required')"
            >
              *DOB is <strong>required</strong>
            </mat-error>
      </mat-form-field>
      <mat-datepicker #DOB></mat-datepicker>

      <mat-form-field>
        <mat-label>Joining Date</mat-label>
        <input
          matInput
          [matDatepicker]="join"
          (focus)="join.open()"
          formControlName="JoiningDate"
        />
        <mat-icon>date_range</mat-icon>
        <mat-error
              *ngIf="AddEmployeeForm.controls['JoiningDate'].hasError('required')"
            >
              *JoiningDate is <strong>required</strong>
            </mat-error>
      </mat-form-field>
      <mat-datepicker #join></mat-datepicker>

      <div>
        <button mat-button mat-raised-button color="primary" matStepperNext>
          Next
        </button>
      </div>
      <!-- </form> -->
    </mat-step>
    <mat-step [stepControl]="AddEmployeeForm" label="Work Information">
      <!-- <form [formGroup]="AddEmployeeForm"> -->

      <mat-form-field appearance="fill">
        <mat-label>Employment Type</mat-label>
        <mat-select matNativeControl formControlName="EmploymentType">
          <mat-option *ngFor="let i of employmentType" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['EmploymentType'].hasError('required')"
            >
              *EmploymentType is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Office Branch</mat-label>
        <mat-select matNativeControl formControlName="OfficeBranch">
          <mat-option *ngFor="let i of officeBranch" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['OfficeBranch'].hasError('required')"
            >
              *OfficeBranch is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Employee Grade</mat-label>
        <mat-select matNativeControl formControlName="EmployeeGrade">
          <mat-option *ngFor="let i of employeeGrade" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['EmployeeGrade'].hasError('required')"
            >
              *EmployeeGrade is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Employee Group</mat-label>
        <mat-select matNativeControl formControlName="EmployeeGroup">
          <mat-option *ngFor="let i of employeeGroup" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['EmployeeGroup'].hasError('required')"
            >
              *EmployeeGroup is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Employee Type</mat-label>
        <mat-select matNativeControl formControlName="EmployeeType">
          <mat-option *ngFor="let i of employeeType" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['EmployeeType'].hasError('required')"
            >
              *EmployeeType is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput formControlName="Value" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['Value'].hasError('required')"
            >
              *Value is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>PF Account No.</mat-label>
        <input matInput formControlName="PF" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['PF'].hasError('required')"
            >
              *PF is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ESI No.</mat-label>
        <input matInput formControlName="ESI" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['ESI'].hasError('required')"
            >
              *ESI is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>CIN No.</mat-label>
        <input matInput formControlName="CIN" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['CIN'].hasError('required')"
            >
              *CIN No. is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="Address" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['Address'].hasError('required')"
            >
              *Address is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Effective Date</mat-label>
        <input
          matInput
          [matDatepicker]="Effective"
          (focus)="Effective.open()"
          formControlName="EffectiveDate"
        />
        <mat-icon>date_range</mat-icon>
        <mat-error
              *ngIf="AddEmployeeForm.controls['EffectiveDate'].hasError('required')"
            >
              *Effective Date is <strong>required</strong>
            </mat-error>
      </mat-form-field>
      <mat-datepicker #Effective></mat-datepicker>

      <mat-form-field>
        <mat-label>Leaving Date</mat-label>
        <input
          matInput
          [matDatepicker]="Leaving"
          (focus)="Leaving.open()"
          formControlName="LeavingDate"
        />
        <mat-icon>date_range</mat-icon>
        <mat-error
              *ngIf="AddEmployeeForm.controls['LeavingDate'].hasError('required')"
            >
              *Leaving Date is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>
      <mat-datepicker #Leaving></mat-datepicker>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
          formControlName="Description"
        ></textarea>
        <mat-error
              *ngIf="AddEmployeeForm.controls['Description'].hasError('required')"
            >
              *Description is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-button mat-raised-button color="primary" matStepperNext>
          Next
        </button>
      </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Banking Information</ng-template>
      <p>You are now done.</p>

      <mat-form-field>
        <mat-label>Bank Account No.</mat-label>
        <input matInput formControlName="BankAccount" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['BankAccount'].hasError('required')"
            >
              *Bank Account is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bank Name</mat-label>
        <input matInput formControlName="BankName" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['BankName'].hasError('required')"
            >
              *Bank Name is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bank Branch</mat-label>
        <input matInput formControlName="BankBranch" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['BankBranch'].hasError('required')"
            >
              *Bank Branch is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>

      <mat-form-field>
        <mat-label>PAN</mat-label>
        <input matInput formControlName="PAN" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['PAN'].hasError('required')"
            >
              *PAN is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>

      <mat-form-field>
        <mat-label>IFSC Code</mat-label>
        <input matInput formControlName="IFSC" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['IFSC'].hasError('required')"
            >
              *IFSC Code is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Payment Type</mat-label>
        <mat-select matNativeControl formControlName="PaymentType">
          <mat-option *ngFor="let i of paymentOptions" value="{{ i }}">
            {{ i }}
          </mat-option>
        </mat-select>
        <mat-error
              *ngIf="AddEmployeeForm.controls['PaymentType'].hasError('required')"
            >
              *Payment Type is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-button mat-raised-button color="primary" matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="AddEmployeeForm" label="Emergency Contact">
      <!-- <form [formGroup]="AddEmployeeForm"> -->

      <mat-form-field>
        <mat-label>Emergency Contact Name</mat-label>
        <input matInput formControlName="ContactName" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['ContactName'].hasError('required')"
            >
              *Emergency Contact Name is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>

      <mat-form-field>
        <mat-label>Emergency Contact Mobile</mat-label>
        <input matInput formControlName="ContactMobile" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['ContactMobile'].hasError('required')"
            >
              *Emergency Contact Mobile is <strong>required</strong>
            </mat-error>
            <!-- <mat-error
            *ngIf="AddEmployeeForm.controls['ContactMobile'].hasError('minLength(10)') ||
            AddEmployeeForm.controls['ContactMobile'].hasError('maxLength(10)')"
          >
            Mobile No. should be of 10 digits
        </mat-error> -->
    
      </mat-form-field>

      <mat-form-field>
        <mat-label>Emergency Contact Email</mat-label>
        <input matInput formControlName="ContactEmail" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['ContactEmail'].hasError('required')"
            >
              *Emergency Contact Email is <strong>required</strong>
            </mat-error>
            <mat-error
            *ngIf="AddEmployeeForm.controls['ContactEmail'].hasError('email')"
          >
            Email format not proper
        </mat-error>
    
      </mat-form-field>

      <mat-form-field>
        <mat-label>Emergency Contact Address</mat-label>
        <input matInput formControlName="ContactAddress" />
        <mat-error
              *ngIf="AddEmployeeForm.controls['ContactAddress'].hasError('required')"
            >
            *Emergency Contact Address is <strong>required</strong>
            </mat-error>
      
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button color="primary" matStepperPrevious>
          Back
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="save()"
        >
          save
        </button>
      </div>
      <!-- </form> -->
    </mat-step>
  </mat-horizontal-stepper>
</form>
